<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KnowMyCollege Chatbot</title>
    <link rel="stylesheet" href="static/aichatbot.css" />
    <link
      href="https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" href="static/images/grad_hat_white.png" />
    <script
      src="https://kit.fontawesome.com/681ff4ba53.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
      $(document).ready(function () {
        $(".chatbox").scrollTop($(".chatbox")[0].scrollHeight);
      });
    </script>
  </head>
  <body>
    <div class="main">
      <div class="chatbox-container">
        <div class="chatbox-heading">~ AI ChatBot ~</div>

        <div class="chatbox" id="chatbox">
          {% for message in messages %}
          <div class="message {{ message.sender }}">
            {% if message.sender == "bot" %}
            <i class="fa-solid fa-robot"></i>
            <div class="content">{{ message.content }}</div>
            {% else %}
            <div class="content">{{ message.content }}</div>
            <i class="fa-solid fa-user"></i>
            {% endif %}
          </div>
          {% endfor %}
          <!-- <div id="chatbot-end"></div> -->
        </div>

        <form id="chat-form" action="/ai_chatbot" method="post">
          <input
            type="text"
            id="question"
            name="question"
            placeholder="Enter your question"
            required
          />
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>

    <!-- <script>
        $(document).ready(function () {
            // Function to handle scrolling
            $("#chatbox").on("scroll", function () {
                if ($(this).scrollTop() === 0) {
                    $(this).prepend('<div class="loading">......*..</div>');
                    setTimeout(function () {
                        $(".loading").remove();
                        // Add logic here to load older messages if available
                    }, 1000);
                }
            });
        });
    </script> -->
  </body>
</html>
